# Python
__pycache__/
*.py[cod]
*.so

# Virtual env
venv/
.env
.env.*
myenv/
# Database
*.db
*.sqlite3
.python-version

# Testing
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
dist-ssr/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store